<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.washington.ischool.commoncents.commoncents">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Main Activity -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Event Activities -->
        <activity
            android:name=".activites1.EventSummaryActivity"
            android:theme="@style/EventsTheme"
            android:label="Event Summary"/>
        <activity
            android:name=".activites1.AddEventActivity"
            android:theme="@style/EventsTheme"
            android:label="Create An Event"/>
        <activity
            android:name=".activites1.SplitByItemActivity"
            android:theme="@style/EventsTheme"
            android:label="Split By Item"/>
        <activity
            android:name=".activites1.SplitBySumActivity"
            android:theme="@style/EventsTheme"
            android:label="Split By Sum"/>

        <!-- Friend Activities -->
        <activity
            android:name=".activites1.AddFriendActivity"
            android:theme="@style/FriendsTheme"
            android:label="Add A New Friend"/>
        <activity
            android:name=".activites1.UserProfileActivity"
            android:theme="@style/FriendsTheme.NoActionBar"
            android:label=""/>

        <!-- Setting Activities -->
        <activity
            android:name=".activites1.LoginActivity"
            android:theme="@style/SettingsTheme"
            android:label="Sign In"/>
        <activity
            android:name=".activites1.SignUpActivity"
            android:theme="@style/SettingsTheme"
            android:label="Sign Up"/>
        <activity
            android:name=".activites1.DeveloperSettingsActivity"
            android:theme="@style/SettingsTheme"
            android:label="Developer Settings"/>
    </application>

</manifest>